<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neub.alfred.ip-info</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>80F38F92-52E7-4221-8449-1CF8EEB49439</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70C28E39-6A62-42E6-B3FB-767B00161215</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>70C28E39-6A62-42E6-B3FB-767B00161215</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B398A2B-2EF2-44E2-BBE8-51D00C20D6B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>neub</string>
	<key>description</key>
	<string>Show local and public IP addresses</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP Info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching network info...</string>
				<key>script</key>
				<string>./ip_info.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show local and public IP addresses</string>
				<key>title</key>
				<string>IP Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>80F38F92-52E7-4221-8449-1CF8EEB49439</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>70C28E39-6A62-42E6-B3FB-767B00161215</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied: {query}</string>
				<key>title</key>
				<string>IP Info</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4B398A2B-2EF2-44E2-BBE8-51D00C20D6B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type "ip" to see your network information including local IP, public IP, gateway, DNS servers, and Wi-Fi SSID. Press Enter on any item to copy its value to clipboard.</string>
	<key>uidata</key>
	<dict>
		<key>80F38F92-52E7-4221-8449-1CF8EEB49439</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>70C28E39-6A62-42E6-B3FB-767B00161215</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4B398A2B-2EF2-44E2-BBE8-51D00C20D6B8</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
