<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neub.alfred.system-commands</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<!-- flushdns: keyword -> run script -->
		<key>5ACABF5E-46C6-4704-BB12-A8CB1C6046D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFEC75CF-26E3-4B41-9E88-0964FBD5E760</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- flushdns: run script -> notification -->
		<key>FFEC75CF-26E3-4B41-9E88-0964FBD5E760</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F15C9E24-7E02-43E4-831D-2C2E9AE41AFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- emptytrash: keyword -> run script -->
		<key>EDF16379-7D86-455A-AA7E-AACA8ED42F16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F22339DA-CC81-4D2E-A006-09525A19A99E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- emptytrash: run script -> notification -->
		<key>F22339DA-CC81-4D2E-A006-09525A19A99E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D0511DD-BD23-47B1-87B4-B45FBB98422E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- darkmode: keyword -> run script -->
		<key>D534D3D2-F43C-45FE-8396-8641283D9790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4500FEBC-28AD-4420-9271-88866BAAE314</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- darkmode: run script -> notification -->
		<key>4500FEBC-28AD-4420-9271-88866BAAE314</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CACEA7C-8BC4-4D12-9BE3-9C92A678FFFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- showfiles: keyword -> run script -->
		<key>44BFA0E5-21EC-4F94-A52F-36AD3D9A44CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67AC789D-C88D-4AF5-8E23-0C4CDD05AD1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- showfiles: run script -> notification -->
		<key>67AC789D-C88D-4AF5-8E23-0C4CDD05AD1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62596569-51D4-4141-BD6C-237F674621BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartfinder: keyword -> run script -->
		<key>6ED503AD-EBCA-494E-853C-3FDB6F13EF89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC293E6B-B835-44A8-93BA-080276E271ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartfinder: run script -> notification -->
		<key>DC293E6B-B835-44A8-93BA-080276E271ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BD9FF39-74FA-4338-A91D-F6EB9592593F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartdock: keyword -> run script -->
		<key>E1195854-0845-4A72-BEED-E8D2583E749D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>568B784D-25EB-4C40-BF9A-711D8A81795E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartdock: run script -> notification -->
		<key>568B784D-25EB-4C40-BF9A-711D8A81795E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6648ED87-0D75-4E0E-9C18-8AB98AF1EB77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartaudio: keyword -> run script -->
		<key>EE3BD3EA-3402-41C1-8C62-10F7D42BA7D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9F54647-871A-4B36-A292-F155A4C7A179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- restartaudio: run script -> notification -->
		<key>E9F54647-871A-4B36-A292-F155A4C7A179</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E47C7994-9AE5-4C94-8A7C-9B0D5E976DB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- lock: keyword -> run script -->
		<key>40051608-0D6D-4848-A27A-1393DA4B9394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEF0E205-A92B-4396-9F5A-8340C88096BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- lock: run script -> notification -->
		<key>EEF0E205-A92B-4396-9F5A-8340C88096BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9182E947-80B8-42D1-BC12-4F44B8D05907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- sleep: keyword -> run script -->
		<key>14B7BD6A-796F-4D6C-9941-174EF0A92424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E734FF18-8947-4925-82E7-C15790DEC7AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- sleep: run script -> notification -->
		<key>E734FF18-8947-4925-82E7-C15790DEC7AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13259796-5928-46B1-8810-4934E928F825</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- screensaver: keyword -> run script -->
		<key>4432C8B3-243B-4796-8DED-DEE2D6D8D4C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F475683-7D58-409A-B7F8-4BA57A1F591D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- screensaver: run script -> notification -->
		<key>1F475683-7D58-409A-B7F8-4BA57A1F591D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B52D8FF4-7A27-49A6-9CD7-E37D8AE4C51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- ejectall: keyword -> run script -->
		<key>D35C095F-6E5D-4582-BAE2-4A1DBB6962B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C17FD30-CBFB-4045-BE86-CA796FB96880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- ejectall: run script -> notification -->
		<key>7C17FD30-CBFB-4045-BE86-CA796FB96880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4007D0A-101C-4812-A485-2877C865E3C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- maintainace: keyword -> run script -->
		<key>AF222559-209B-4FF0-9325-CF3977D4945D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7518DF1F-15EE-4816-B0F9-68FFC9A2C700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- maintainace: run script -> notification -->
		<key>7518DF1F-15EE-4816-B0F9-68FFC9A2C700</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7610A1C4-CFAF-408A-8E64-3075B2658711</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- wifi: keyword -> run script -->
		<key>D7AD061D-AAE8-49C8-9929-DDD0954F2B74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F875203-9A63-4031-90A0-BD6D59BD2CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- wifi: run script -> notification -->
		<key>2F875203-9A63-4031-90A0-BD6D59BD2CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>144EE356-34CC-454F-B433-3208D2276AEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- bluetooth: script filter -> run script -->
		<key>827D3BFA-34F5-46FC-96DE-EB7E9BE38C9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E41E8C08-21A2-4F0E-A80A-F5C4FA99A1DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<!-- bluetooth: run script -> notification -->
		<key>E41E8C08-21A2-4F0E-A80A-F5C4FA99A1DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9536024E-81AF-4A8F-979F-44A0E7D6273C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>neub</string>
	<key>description</key>
	<string>Quick system commands - flush DNS, empty trash, dark mode, etc.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Commands</string>
	<key>objects</key>
	<array>
		<!-- ==================== FLUSH DNS ==================== -->
		<!-- Keyword: flushdns -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>flushdns</string>
				<key>subtext</key>
				<string>Flush DNS cache</string>
				<key>text</key>
				<string>Flush DNS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5ACABF5E-46C6-4704-BB12-A8CB1C6046D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: flush_dns.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/flush_dns.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFEC75CF-26E3-4B41-9E88-0964FBD5E760</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: flushdns -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>DNS cache has been flushed</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F15C9E24-7E02-43E4-831D-2C2E9AE41AFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== EMPTY TRASH ==================== -->
		<!-- Keyword: emptytrash -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>emptytrash</string>
				<key>subtext</key>
				<string>Empty the Trash</string>
				<key>text</key>
				<string>Empty Trash</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDF16379-7D86-455A-AA7E-AACA8ED42F16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: empty_trash.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/empty_trash.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F22339DA-CC81-4D2E-A006-09525A19A99E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: emptytrash -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Trash has been emptied</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0D0511DD-BD23-47B1-87B4-B45FBB98422E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== DARK MODE ==================== -->
		<!-- Keyword: darkmode -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>darkmode</string>
				<key>subtext</key>
				<string>Toggle Dark Mode</string>
				<key>text</key>
				<string>Toggle Dark Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D534D3D2-F43C-45FE-8396-8641283D9790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: toggle_dark_mode.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/toggle_dark_mode.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4500FEBC-28AD-4420-9271-88866BAAE314</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: darkmode -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Dark mode has been toggled</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2CACEA7C-8BC4-4D12-9BE3-9C92A678FFFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== SHOW FILES ==================== -->
		<!-- Keyword: showfiles -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>showfiles</string>
				<key>subtext</key>
				<string>Toggle hidden files in Finder</string>
				<key>text</key>
				<string>Toggle Hidden Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>44BFA0E5-21EC-4F94-A52F-36AD3D9A44CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: toggle_hidden_files.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/toggle_hidden_files.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67AC789D-C88D-4AF5-8E23-0C4CDD05AD1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: showfiles -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Hidden files visibility toggled</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62596569-51D4-4141-BD6C-237F674621BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== RESTART FINDER ==================== -->
		<!-- Keyword: restartfinder -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>restartfinder</string>
				<key>subtext</key>
				<string>Restart Finder</string>
				<key>text</key>
				<string>Restart Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6ED503AD-EBCA-494E-853C-3FDB6F13EF89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: restart_finder.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/restart_finder.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC293E6B-B835-44A8-93BA-080276E271ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: restartfinder -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Finder has been restarted</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8BD9FF39-74FA-4338-A91D-F6EB9592593F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== RESTART DOCK ==================== -->
		<!-- Keyword: restartdock -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>restartdock</string>
				<key>subtext</key>
				<string>Restart Dock</string>
				<key>text</key>
				<string>Restart Dock</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1195854-0845-4A72-BEED-E8D2583E749D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: restart_dock.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/restart_dock.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>568B784D-25EB-4C40-BF9A-711D8A81795E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: restartdock -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Dock has been restarted</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6648ED87-0D75-4E0E-9C18-8AB98AF1EB77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== RESTART AUDIO ==================== -->
		<!-- Keyword: restartaudio -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>restartaudio</string>
				<key>subtext</key>
				<string>Restart Core Audio service</string>
				<key>text</key>
				<string>Restart Audio</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EE3BD3EA-3402-41C1-8C62-10F7D42BA7D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: restart_audio.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/restart_audio.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9F54647-871A-4B36-A292-F155A4C7A179</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: restartaudio -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Audio service has been restarted</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E47C7994-9AE5-4C94-8A7C-9B0D5E976DB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== LOCK SCREEN ==================== -->
		<!-- Keyword: lock -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lock</string>
				<key>subtext</key>
				<string>Lock the screen</string>
				<key>text</key>
				<string>Lock Screen</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40051608-0D6D-4848-A27A-1393DA4B9394</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: lock_screen.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/lock_screen.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEF0E205-A92B-4396-9F5A-8340C88096BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: lock -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Screen has been locked</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9182E947-80B8-42D1-BC12-4F44B8D05907</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== SLEEP ==================== -->
		<!-- Keyword: sleep -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sleep</string>
				<key>subtext</key>
				<string>Put Mac to sleep</string>
				<key>text</key>
				<string>Sleep</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14B7BD6A-796F-4D6C-9941-174EF0A92424</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: sleep_mac.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/sleep_mac.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E734FF18-8947-4925-82E7-C15790DEC7AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: sleep -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Mac is going to sleep</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>13259796-5928-46B1-8810-4934E928F825</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== SCREENSAVER ==================== -->
		<!-- Keyword: screensaver -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>screensaver</string>
				<key>subtext</key>
				<string>Start screensaver</string>
				<key>text</key>
				<string>Start Screensaver</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4432C8B3-243B-4796-8DED-DEE2D6D8D4C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: start_screensaver.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/start_screensaver.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F475683-7D58-409A-B7F8-4BA57A1F591D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: screensaver -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Screensaver started</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B52D8FF4-7A27-49A6-9CD7-E37D8AE4C51D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== EJECT ALL ==================== -->
		<!-- Keyword: ejectall -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ejectall</string>
				<key>subtext</key>
				<string>Eject all external drives</string>
				<key>text</key>
				<string>Eject All Drives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D35C095F-6E5D-4582-BAE2-4A1DBB6962B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: eject_all.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/eject_all.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C17FD30-CBFB-4045-BE86-CA796FB96880</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: ejectall -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>All drives have been ejected</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4007D0A-101C-4812-A485-2877C865E3C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== MAINTENANCE ==================== -->
		<!-- Keyword: maintainace -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>maintainace</string>
				<key>subtext</key>
				<string>Run macOS maintenance scripts (daily, weekly, monthly)</string>
				<key>text</key>
				<string>Run Maintenance Scripts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF222559-209B-4FF0-9325-CF3977D4945D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: maintenance.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/maintenance.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7518DF1F-15EE-4816-B0F9-68FFC9A2C700</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: maintainace -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Maintenance scripts completed</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7610A1C4-CFAF-408A-8E64-3075B2658711</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== WIFI ==================== -->
		<!-- Keyword: wifi -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>subtext</key>
				<string>Toggle Wi-Fi on/off</string>
				<key>text</key>
				<string>Toggle Wi-Fi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7AD061D-AAE8-49C8-9929-DDD0954F2B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- Run Script: toggle_wifi.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/toggle_wifi.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F875203-9A63-4031-90A0-BD6D59BD2CF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: wifi -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Wi-Fi has been toggled</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>144EE356-34CC-454F-B433-3208D2276AEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- ==================== BLUETOOTH ==================== -->
		<!-- Script Filter: bluetooth -->
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bluetooth</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyalinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./scripts/bluetooth_filter.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Toggle Bluetooth on or off</string>
				<key>title</key>
				<string>Bluetooth</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>827D3BFA-34F5-46FC-96DE-EB7E9BE38C9E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<!-- Run Script: bluetooth_toggle.sh -->
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/bluetooth_toggle.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E41E8C08-21A2-4F0E-A80A-F5C4FA99A1DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<!-- Notification: bluetooth -->
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bluetooth setting changed</string>
				<key>title</key>
				<string>System Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9536024E-81AF-4A8F-979F-44A0E7D6273C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>System Commands Workflow

Quick system commands accessible via Alfred keywords:

- flushdns: Flush DNS cache
- emptytrash: Empty the Trash
- darkmode: Toggle Dark Mode
- showfiles: Toggle hidden files in Finder
- restartfinder: Restart Finder
- restartdock: Restart Dock
- restartaudio: Restart Core Audio service
- lock: Lock the screen
- sleep: Put Mac to sleep
- screensaver: Start screensaver
- ejectall: Eject all external drives
- maintainace: Run maintenance scripts
- wifi: Toggle Wi-Fi
- bluetooth: Toggle Bluetooth (shows on/off options)</string>
	<key>uidata</key>
	<dict>
		<!-- Row 1: DNS, Trash, Dark Mode, Show Files -->
		<key>5ACABF5E-46C6-4704-BB12-A8CB1C6046D7</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FFEC75CF-26E3-4B41-9E88-0964FBD5E760</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F15C9E24-7E02-43E4-831D-2C2E9AE41AFE</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>EDF16379-7D86-455A-AA7E-AACA8ED42F16</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F22339DA-CC81-4D2E-A006-09525A19A99E</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>0D0511DD-BD23-47B1-87B4-B45FBB98422E</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D534D3D2-F43C-45FE-8396-8641283D9790</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>4500FEBC-28AD-4420-9271-88866BAAE314</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>2CACEA7C-8BC4-4D12-9BE3-9C92A678FFFE</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>44BFA0E5-21EC-4F94-A52F-36AD3D9A44CF</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>67AC789D-C88D-4AF5-8E23-0C4CDD05AD1A</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>62596569-51D4-4141-BD6C-237F674621BE</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<!-- Row 5-8: Finder, Dock, Audio, Lock -->
		<key>6ED503AD-EBCA-494E-853C-3FDB6F13EF89</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>DC293E6B-B835-44A8-93BA-080276E271ED</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>8BD9FF39-74FA-4338-A91D-F6EB9592593F</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>E1195854-0845-4A72-BEED-E8D2583E749D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>568B784D-25EB-4C40-BF9A-711D8A81795E</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>6648ED87-0D75-4E0E-9C18-8AB98AF1EB77</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>EE3BD3EA-3402-41C1-8C62-10F7D42BA7D6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>E9F54647-871A-4B36-A292-F155A4C7A179</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>E47C7994-9AE5-4C94-8A7C-9B0D5E976DB4</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>40051608-0D6D-4848-A27A-1393DA4B9394</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>EEF0E205-A92B-4396-9F5A-8340C88096BE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>9182E947-80B8-42D1-BC12-4F44B8D05907</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<!-- Row 9-14: Sleep, Screensaver, Eject, Maintenance, WiFi, Bluetooth -->
		<key>14B7BD6A-796F-4D6C-9941-174EF0A92424</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>E734FF18-8947-4925-82E7-C15790DEC7AE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>13259796-5928-46B1-8810-4934E928F825</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>4432C8B3-243B-4796-8DED-DEE2D6D8D4C6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>1F475683-7D58-409A-B7F8-4BA57A1F591D</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>B52D8FF4-7A27-49A6-9CD7-E37D8AE4C51D</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>D35C095F-6E5D-4582-BAE2-4A1DBB6962B9</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>7C17FD30-CBFB-4045-BE86-CA796FB96880</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>A4007D0A-101C-4812-A485-2877C865E3C8</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>AF222559-209B-4FF0-9325-CF3977D4945D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>7518DF1F-15EE-4816-B0F9-68FFC9A2C700</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>7610A1C4-CFAF-408A-8E64-3075B2658711</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>D7AD061D-AAE8-49C8-9929-DDD0954F2B74</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1490</integer>
		</dict>
		<key>2F875203-9A63-4031-90A0-BD6D59BD2CF0</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1490</integer>
		</dict>
		<key>144EE356-34CC-454F-B433-3208D2276AEC</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1490</integer>
		</dict>
		<key>827D3BFA-34F5-46FC-96DE-EB7E9BE38C9E</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1610</integer>
		</dict>
		<key>E41E8C08-21A2-4F0E-A80A-F5C4FA99A1DE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1610</integer>
		</dict>
		<key>9536024E-81AF-4A8F-979F-44A0E7D6273C</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1610</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
