<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neub.alfred.quick-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>48AD3481-323C-4D55-9E0F-C205F9EF4F60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C355C0B-870C-4AA3-AFC4-F5B9673D833E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>8E5BF427-6E8F-4B18-9C3B-120C007B53A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C955C277-B2FD-4892-A235-2AE855D55AC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>A81F07D4-DBE4-474E-A775-30B267E165C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A67889D7-A329-46B6-A693-F45ADC9844CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>4FF77101-3ECF-4F69-8E53-5D24A89C77FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77052297-C93F-4B86-A323-D680BF354BEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>8AF88113-8B08-4B22-AEC5-42B29CA99D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>604851A2-2109-4F0E-A456-D50937699469</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>D39ED849-C872-49D4-AB9B-BFDB68C72A7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50C456CE-0F20-43C4-B4BF-F0327A5AA44B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>42F25E81-ECE5-4B97-93BC-4EC02D146688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE037165-C393-4A70-8EDE-BF0C468D8161</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>DF17C999-5B27-45F0-9555-77D7C7E859E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAE39579-4F9B-4DE4-BD81-7E52F84BE250</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>5B9DB77A-E9B7-45BC-9E38-8349F10F1DDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E71C7E97-F30F-4644-A6D6-170ABB6A4B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>B5B27439-7C2B-4D63-9DDE-F966D6FEA041</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B6D39D7-A88B-45DD-A922-998ED9436A23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>99765623-380D-4808-9011-DAC37E120A9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67A888A9-A3DB-4054-BF72-652FBA14FBDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>1CFF999E-BE7D-4AF3-9766-51E9ADB9D22F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BED968F-5DFF-4269-9629-6FE04995178E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>20055D51-CC51-4791-B0B0-8E748244A188</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1309DFB-6057-44AD-A488-F4626CC860B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>78B60967-FDAB-4BCB-805F-63CC70F110C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE5CA82D-53D4-46E2-92B2-D6EA026E9645</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>18E1A424-9160-47F3-8756-81DF57E579A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8F3D3C9-D35E-411A-834F-8A3F8C885FDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>neub</string>
	<key>description</key>
	<string>Multi-engine web search shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Search</string>
	<key>objects</key>
	<array>
		<!-- 1. Google Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>g</string>
				<key>subtext</key>
				<string>Search Google for '{query}'</string>
				<key>text</key>
				<string>Google Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48AD3481-323C-4D55-9E0F-C205F9EF4F60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C355C0B-870C-4AA3-AFC4-F5B9673D833E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 2. GitHub Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string>Search GitHub for '{query}'</string>
				<key>text</key>
				<string>GitHub Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E5BF427-6E8F-4B18-9C3B-120C007B53A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C955C277-B2FD-4892-A235-2AE855D55AC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 3. Stack Overflow Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>so</string>
				<key>subtext</key>
				<string>Search Stack Overflow for '{query}'</string>
				<key>text</key>
				<string>Stack Overflow Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A81F07D4-DBE4-474E-A775-30B267E165C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stackoverflow.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A67889D7-A329-46B6-A693-F45ADC9844CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 4. npm Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>npm</string>
				<key>subtext</key>
				<string>Search npm for '{query}'</string>
				<key>text</key>
				<string>npm Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4FF77101-3ECF-4F69-8E53-5D24A89C77FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.npmjs.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>77052297-C93F-4B86-A323-D680BF354BEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 5. PyPI Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pip</string>
				<key>subtext</key>
				<string>Search PyPI for '{query}'</string>
				<key>text</key>
				<string>PyPI Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8AF88113-8B08-4B22-AEC5-42B29CA99D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pypi.org/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>604851A2-2109-4F0E-A456-D50937699469</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 6. YouTube Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>subtext</key>
				<string>Search YouTube for '{query}'</string>
				<key>text</key>
				<string>YouTube Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D39ED849-C872-49D4-AB9B-BFDB68C72A7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.youtube.com/results?search_query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50C456CE-0F20-43C4-B4BF-F0327A5AA44B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 7. Reddit Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>reddit</string>
				<key>subtext</key>
				<string>Search Reddit for '{query}'</string>
				<key>text</key>
				<string>Reddit Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42F25E81-ECE5-4B97-93BC-4EC02D146688</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.reddit.com/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BE037165-C393-4A70-8EDE-BF0C468D8161</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 8. MDN Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mdn</string>
				<key>subtext</key>
				<string>Search MDN for '{query}'</string>
				<key>text</key>
				<string>MDN Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF17C999-5B27-45F0-9555-77D7C7E859E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FAE39579-4F9B-4DE4-BD81-7E52F84BE250</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 9. Docker Hub Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>docker</string>
				<key>subtext</key>
				<string>Search Docker Hub for '{query}'</string>
				<key>text</key>
				<string>Docker Hub Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B9DB77A-E9B7-45BC-9E38-8349F10F1DDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://hub.docker.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E71C7E97-F30F-4644-A6D6-170ABB6A4B2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 10. Homebrew Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brew</string>
				<key>subtext</key>
				<string>Search Homebrew for '{query}'</string>
				<key>text</key>
				<string>Homebrew Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5B27439-7C2B-4D63-9DDE-F966D6FEA041</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://formulae.brew.sh/formula/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1B6D39D7-A88B-45DD-A922-998ED9436A23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 11. Wikipedia Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wiki</string>
				<key>subtext</key>
				<string>Search Wikipedia for '{query}'</string>
				<key>text</key>
				<string>Wikipedia Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99765623-380D-4808-9011-DAC37E120A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://en.wikipedia.org/wiki/Special:Search/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>67A888A9-A3DB-4054-BF72-652FBA14FBDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 12. Google Maps Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>maps</string>
				<key>subtext</key>
				<string>Search Google Maps for '{query}'</string>
				<key>text</key>
				<string>Google Maps Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1CFF999E-BE7D-4AF3-9766-51E9ADB9D22F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/maps/search/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1BED968F-5DFF-4269-9629-6FE04995178E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 13. Amazon Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>amz</string>
				<key>subtext</key>
				<string>Search Amazon for '{query}'</string>
				<key>text</key>
				<string>Amazon Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20055D51-CC51-4791-B0B0-8E748244A188</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.amazon.com/s?k={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1309DFB-6057-44AD-A488-F4626CC860B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 14. Terraform Registry Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tf</string>
				<key>subtext</key>
				<string>Search Terraform Registry for '{query}'</string>
				<key>text</key>
				<string>Terraform Registry Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>78B60967-FDAB-4BCB-805F-63CC70F110C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://registry.terraform.io/search/?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DE5CA82D-53D4-46E2-92B2-D6EA026E9645</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<!-- 15. Rust Crates Search -->
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>crates</string>
				<key>subtext</key>
				<string>Search crates.io for '{query}'</string>
				<key>text</key>
				<string>Rust Crates Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18E1A424-9160-47F3-8756-81DF57E579A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://crates.io/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A8F3D3C9-D35E-411A-834F-8A3F8C885FDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quick Search - Multi-engine web search shortcuts for Alfred 5.

Keywords:
  g       - Google Search
  gh      - GitHub Search
  so      - Stack Overflow Search
  npm     - npm Search
  pip     - PyPI Search
  yt      - YouTube Search
  reddit  - Reddit Search
  mdn     - MDN Web Docs Search
  docker  - Docker Hub Search
  brew    - Homebrew Search
  wiki    - Wikipedia Search
  maps    - Google Maps Search
  amz     - Amazon Search
  tf      - Terraform Registry Search
  crates  - Rust Crates Search</string>
	<key>uidata</key>
	<dict>
		<key>48AD3481-323C-4D55-9E0F-C205F9EF4F60</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6C355C0B-870C-4AA3-AFC4-F5B9673D833E</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8E5BF427-6E8F-4B18-9C3B-120C007B53A9</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C955C277-B2FD-4892-A235-2AE855D55AC8</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A81F07D4-DBE4-474E-A775-30B267E165C0</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A67889D7-A329-46B6-A693-F45ADC9844CA</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>4FF77101-3ECF-4F69-8E53-5D24A89C77FB</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>77052297-C93F-4B86-A323-D680BF354BEE</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>8AF88113-8B08-4B22-AEC5-42B29CA99D4D</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>604851A2-2109-4F0E-A456-D50937699469</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>D39ED849-C872-49D4-AB9B-BFDB68C72A7D</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>50C456CE-0F20-43C4-B4BF-F0327A5AA44B</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>42F25E81-ECE5-4B97-93BC-4EC02D146688</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>BE037165-C393-4A70-8EDE-BF0C468D8161</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>DF17C999-5B27-45F0-9555-77D7C7E859E5</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>FAE39579-4F9B-4DE4-BD81-7E52F84BE250</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>5B9DB77A-E9B7-45BC-9E38-8349F10F1DDC</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>E71C7E97-F30F-4644-A6D6-170ABB6A4B2A</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>B5B27439-7C2B-4D63-9DDE-F966D6FEA041</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>1B6D39D7-A88B-45DD-A922-998ED9436A23</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>99765623-380D-4808-9011-DAC37E120A9E</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>67A888A9-A3DB-4054-BF72-652FBA14FBDC</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>1CFF999E-BE7D-4AF3-9766-51E9ADB9D22F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>1BED968F-5DFF-4269-9629-6FE04995178E</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>20055D51-CC51-4791-B0B0-8E748244A188</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>F1309DFB-6057-44AD-A488-F4626CC860B0</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>78B60967-FDAB-4BCB-805F-63CC70F110C3</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>DE5CA82D-53D4-46E2-92B2-D6EA026E9645</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>18E1A424-9160-47F3-8756-81DF57E579A6</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>A8F3D3C9-D35E-411A-834F-8A3F8C885FDE</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>